<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- bean definitions here -->
    <bean id="bookRepository" class="com.ukr.Repository.InMemoryBookRepository"/>
    <bean id="memberRepository" class="com.ukr.Repository.InMemoryMemberRepository"/>
    <bean id="libraryService" class="com.ukr.Service.LibraryServiceImpl">
        <constructor-arg ref="bookRepository"/>
        <constructor-arg ref="memberRepository"/>
    </bean>

</beans>